<h1><%= @article.title %></h1>

<% if @revisions %>
  <h3>This article has <%= @revisions.length %> revisions.</h3>
<% else %>
  <h3>This article has no revisions. Make one here</h3>
  <p><%= @article.body %></p>
<% end %>
