/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #login {
  display: inline-block;
 }

 nav {
  float: right;
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
 }

 #nav {
  display: block;
  margin-top: 20px;
 }

 body {
  background-color: #0A3040;
  color: white;
  margin: 60px;
  font-family: "Helvetica";
  /*width: 100%;*/
 }

 #website-title {
  font-family: "Princess Sofia";
  color: #23AAE1;
  font-size: 5em;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: block;

 }

 a {
  color: #FF4164;
  text-decoration: none;
 }

 #username-nav {
  color: #FF4164;
 }

 #login-form {
  display: inline-block;
 }

 #home-cat-display {
  width: 50%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 0 auto;
  text-align: center;
 }

 #home-art-display {
  width: 50%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 0 auto;
  text-align: center;
 }

 #container {
  display: flex;
  margin-top: 60px;
 }

 #articles-list {
  font-size: 30px;
  list-style: none;
 }

 #articles-list span {
  vertical-align: top;
  display: inline-block;
 }

  #category-list {
  font-size: 30px;
  list-style: none;
 }

 #tm {
  color: #FF4164;
 }

 footer {
  text-align: center;
  width: 100%;
  right: 0;
  left: 0;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  margin-bottom: 5px;
 }

/* #home-art-display h1 {
  text-align: center;
 }

 #home-cat-display h1 {
  text-align: center;
 }*/


