<h1>All Categories!</h1>
<ol>
  <% if @categories %>
    <% @categories.each do |category| %>
      <strong><li><%= link_to category.name, category_path(category) %></li></strong>
    <%end%>
  <% end %>
</ol>
