
<% if @category %>
  <h1> Category: <%= @category.name %> </h1>
  <% if @category.articles.any? %>
   <ol class="inline recent-articles"> <% @category.articles.each do |article| %>
      <strong><li><p><%= article.title %></p></li></strong>
      <p><%= article.body %></p>
      <br />
    <%end%>
    </ol>
  <%else%><p>No articles to display</p>
  <%end%>
<%end%>


<p><%= link_to 'All Categories', categories_path %></p>